@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cormorant: 'Cormorant', serif;
  --font-garamond: 'EB Garamond', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-garamond);
  background-color: #EFE3C6;
  color: #1F1B17;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

